<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>New Message</title>
  </head>
  <body>
    <nav>
      <p>MMB Wall</p>
      <p>#Number of Messages</p>
      <button class="go-back-btn"><a href="/">go Back</a></button>
    </nav>
    <div class="message-post">
      <p>Post a message !</p>
      <form action="POST" action="/new">
        <input type="text" id="name" required placeholder="Name">
        <textarea id="message" required placeholder="Message" rows="8" cols="33"></textarea>
        <input class="submit-btn" type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
