<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Mini Message board</title>
  </head>
  <body>
    <nav>
      <p>MMB Wall</p>
      <p>#Number of Messages</p>
      <button class="new-message-btn">New Message</button>
    </nav>
    <main>
      <% messages.forEach((message) => { %>
      <div class="message"><%= message.user %></div>
      <% }); %>
    </main>
  </body>
</html>
