* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    padding: 3rem;
    gap: 2rem;

}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
        
    width: 200px;
    height: 200px;
    background-color: gold;
    font-size: 24px;
    font-weight: 600;
}