* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    border-radius: 0 0 8px 8px;
    color: white;
    font-size: 1.5em;
    height: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 2rem;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    width: 200px;
    height: 200px;
    font-size: 24px;
    font-weight: 600;
}

.new-message-btn {
    padding: 8px 10px;
    border: none;
    cursor: pointer;
}