* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    border-radius: 0 0 8px 8px;
    color: white;
    font-size: 1.5em;
    height: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 400px;
}

.message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: gold;
    width: 200px;
    height: 200px;
    font-size: 24px;
    font-weight: 600;
}

.new-message-btn,
.go-back-btn,
.open-message-btn {
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    border-radius: px;
}

.message-post {
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    gap: 22px;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    cursor: pointer;
    padding: 8px 10px;
    font-size: 18px;
}

.detailed-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    font-size: large;
    width: 400px;
    height: 400px;
    background-color: ghostwhite;
    padding: 22px;
    border-radius: 8px;
    border: 2px solid black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}